body{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Space Mono', monospace;
    background-color: hsl(185, 41%, 84%);
}

.container{
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    background-color: white;
    padding:15px;
    height:60%;
    width:70%;
    border-radius: 12px;
}

.left{
    border:none;
    padding:12px;
}

.heading{
    font-size: 14px;
    color: hsl(184, 14%, 36%);
}

.row1,.row2{
    display: flex;
    justify-content:space-between;
}

input.form-control{
    background-color: hsl(189, 41%, 97%);
    background-position-y: center ;
    background-origin: content-box;
    background-repeat: no-repeat;
    background-size: 10px;
    text-align: right;
    cursor: pointer;
    color: hsl(183, 100%, 15%) !important;
    font-size:20px;
}

.form-control:focus {
    border:2px solid hsl(172, 67%, 45%);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px hsl(172, 67%, 45%,0.8);
  }

.bill{
    background: url("images/icon-dollar.svg");
}

.people{
    background: url("images/icon-person.svg");
}

.btn{
    background-color: hsl(183, 100%, 15%);
    color:white;
    width:100%;
    min-width:80px;
    font-size: 18px;
}

.row1>.btn:hover:not(.custom), .row2>.btn:hover:not(.custom), .selected{
    background-color: hsla(172, 67%, 45%,0.5);
    color:hsl(183, 100%, 15%);
    border:none;
}

.custom:hover, .inputselect{
    border:2px solid hsla(172, 67%, 45%,0.5);
    color:hsl(183, 100%, 15%);
}
.mid{
    margin:auto 15px;
}

.custom{
    background-color: hsl(189, 41%, 97%);
    color:hsl(184, 14%, 56%);
}

.warn{
    float:right;
    content: "Can't be zero";
    color:red;
}

.warn + .form-control:focus{
    border:2px solid red !important;
    box-shadow: none;
}

.right{
    background-color: hsl(183, 100%, 15%);
    height:100%;
    padding:30px 30px;
    width:96%;
    margin-top: 18px;
}

.right .row{
    height:20%;
}

.right .col{
    color:white;
    font-size:14px;
    width:100%;
    padding: 10px;
}

.right .col span{
    color:hsl(184, 14%, 56%);
    font-size: 12px;
    display: block;
}

.result{
    color:hsl(172, 67%, 45%) !important;
    font-size: 30px !important;
    text-align: right;
    margin-top:-10px;
}

.result svg{
    height: 22px;
    stroke:hsl(172, 67%, 45%);
}

.reset{
    position: absolute;
    bottom:10%;
    width:85%;
    color: hsla(172, 67%, 45%,0.3);
    background-color:hsla(172, 67%, 45%,0.3);
}

.reset:hover{
    color: hsl(183, 100%, 15%);
    background-color: hsl(172, 64%, 63%);
}